body {
    background-color: #0F1923;
    font-family: 'Inter', sans-serif;
}

.custom-container {
    margin: 0 4em;

}

.text-red {
    color: #FF0000 !important;
}

.text-gray {
    color: #808080 !important;
}

.top-header {
    background-color: #100E0E;

    .top-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 6px 0;
        margin: 0 3em;

        .links {
            text-align: end;
        }

        a {
            color: #FF0000;
        }

        h5 {
            color: #fff;
            font-size: 0.9em;
            padding: 5px 0;

        }
    }
}

.mid-header-bg {
    background-color: #E00000;
    padding: 5px 0;

    .mid-header {
        background-color: #1A242D;

        .mid-header-grid {
            margin: 0 3em;
            display: grid;
            gap: 25px;
            padding: 1em 0;
            align-items: baseline;
            grid-template-columns: 1fr 1fr 1fr;

            .logo {
                margin-left: 1em;
            }

            .icons {
                display: flex;
                color: #100E0E;
                font-size: 1.3em;
                margin-left: 3em;
                justify-content: center;

                div {

                    margin: 0 10px;

                    .red {
                        background-color: #FF0000;
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        font-size: 0.8em;
                        margin: -21px 0 0 -13px;
                        border-radius: 50%;
                        color: #fff;
                        text-align: center;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }


                    i {
                        background-color: #fff;
                        padding: 0.6em;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

.menu {
    background-color: #1A242D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;

    a {
        text-decoration: none;
    }
}

.card-product {
    width: 100%;
    height: 280px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


    img {
        width: 100%;
        height: 280px;
        object-fit: cover;
        border-radius: 5px;
    }

    .info-product {
        position: relative;
        bottom: 55px;
        margin: 0em 1em;

        h6 {
            font-weight: 800;
            font-size: 16px;
            line-height: 19px;
            color: #0A0808;
        }

    }
}

.carousel-item {
    height: 500px !important;

    img {
        object-fit: cover;
    }
}

footer {
    background-color: #100E0E;
    height: 155px;
    margin-top: 8em;
    width: 100%;
}

@media (max-width: 600px) {
    .top-grid {
        grid-template-columns: 1fr !important;
        margin: 0 !important;
        text-align: center;
    }

    .links {
        text-align: center !important;
    }

    .mid-header-grid {
        grid-template-columns: 1fr !important;
        justify-items: center !important;
    }

    .product-grid {
        grid-template-columns: 1fr !important;
    }

    .icons {
        margin: 0 !important;
    }

    .logo {
        margin-left: 0 !important;
    }

    .red {
        background-color: #FF0000;
        width: 30px;
        height: 30px;
        position: absolute;
        font-size: 0.8em;
        margin: -21px 0 0 -13px;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
